@page
@model TelegramWebApp.Pages.Admin.AddTelegramUserModel
@using Domain.Model;
@{
    var user = new TelegramUser();
}
<div class="row justify-content-center">
    <form method="post">
        <div class="form-group">
            <label class="col-form-label">Имя пользователя</label>
            <input class="form-control" asp-for="@user.UserName"/>
            <span asp-validation-for="@user.UserName"></span>
        </div>
        <button class="btn btn-dark">Добавить</button>
        <a class="btn btn-danger" asp-page="AdminPanel">Назад</a>
    </form>
</div>